<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\.assets\esdoc\css</code></p>
<ul>
<li><code>FmColorName</code> - <code>black</code></li>
<li><code>ColorHex</code> - <code>#525257</code></li>
<li><code>ColorRgb</code> - <code>82,82,87</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Ccss"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-48.png" /></a> <em>Source EsDoc Style</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Ccss%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/.assets/esdoc/css/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Ccss%5CcontextMenu.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>contextMenu.css</code> - for <code>contextMenu.min.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Ccss%5Cjquery.qtip.min.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>jquery.qtip.min.css</code> - for <code>jquery.qtip.min.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Ccss%5Cprettify-tomorrow.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>prettify-tomorrow.css</code> - for <code>prettify.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Ccss%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Ccss%5Cstyle-qtip.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>style-qtip.css</code> - for <code>jquery.qtip.min.js</code> - extending</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Ccss%5Cstyle.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>style.css</code> - main EsDoc styles - in transition</li>
</ul>
